*{
    font-family: Arial, sans-serif;
    font-size: 28px;
}

h1,
h2 {
    color: springgreen;
    text-align: centre;
}

p{
    background-color: orange;
    width: 200px;
    height: 20px;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    font-weight: bold;
    border: 5px solid black;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

td, th{
    border: 1px solid black;
    padding: 5px;
} 



